@page "/Contact"


<div class="text-center">
    <h1>Contact</h1>
</div>

<div class="lead ">
    <div class="text-center border  rounded">
        <p class="my-4"><i class="fa-solid fa-phone text-primary"></i></p>
        <p class="my-4">+90 555 555 55 55</p>
        <p class="my-4"><i class="fa-solid fa-location-dot text-primary"></i></p>
        <p class="my-4">Adres Örneği</p>
        <p class="my-4"><i class="fa-solid fa-envelope text-primary"></i></p>
        <p class="my-4">örnek@gmail.com</p>
    </div>

</div>