@model Product
<div class="text-center">
    <div class="display-6">Ürün Güncelle</div>
</div>
<form method="Post" asp-action="Update" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
<input class="invisible " asp-for="productId"/>
    <div class="form-group my-3">
        <select class="form-control" asp-for="categoryId" asp-items="@ViewBag.uCategory" ></select>
    </div>
<div class="form-group my-3">  
<input class="form-control " asp-for="productName"/>
</div>
<div class="form-group my-3">

<input class="form-control " asp-for="productPrice"/>
</div>
    <div class="form-group my-3">
        <input class="form-control" asp-for="summary" />
    </div>
    
    <div class="form-group my-3">
        <img class="rounded shadow" name="previewImg" width="150" src="@Model?.imageUrl" />
    </div>
    <div class="form-group my-3">

        <input class="form-control" name="file" type="file" accept="image/*" asp-for="imageUrl"/>
    </div>
<div class="form-group my-3">
<div class="btn-group ">
<button type="submit" asp-action="Update" class="btn btn-success"><i class="fa-solid fa-file-pen"></i>Güncelle</button>
</div>
<div class="btn-group">
<button asp-controller="Dashboard" asp-action="Index" class="btn btn-danger "><i class="fa-solid fa-xmark"></i>Admin Paneline Dön</button>
</div>
</div>
</form>
